.bpContainer {
    display: block;
    font-family: 'trebuchet ms', verdana, arial;
    width: 100%;
    height: 100%;
    display: block;
    min-height: 500px;
    padding: 40px;
    .coordinates {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        svg {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }
    i.icon {
        width: 35px;
        height: 35px;
        border-radius: 19px;
    }
    .box {
        position: relative;
        display: inline-block;
        min-width: 300px;
        min-height: 130px;
        border-width: 2px;
        border-color: #136e9d;
        border-style: solid;
        background-color: white;
        vertical-align: top;
        padding: 5px;
        border-radius: 3px;
        margin: 0 60px 20px 0;
        .box {
            border-color: #3aaeda;
            margin-bottom: 0px;
            .head {
                background-color: #3aaeda;
            }
            .holder {
                text-align: center;
            }
            > i.icon {
                position: absolute;
                background: #3aaeda;
                border-width: 2px;
                border-style: solid;
                border-color: white;
                top: 0px;
                left: -21px;
            }
        }
        > i.icon {
            position: absolute;
            background: #136e9d;
            border-width: 2px;
            border-style: solid;
            border-color: white;
            top: 1px;
            left: -22px;
        }
        .head {
            display: block;
            background-color: #136e9d;
            color: white;
            padding: 5px 10px 5px 20px;
            border-radius: 3px;
            font-size: 16px;
        }
        .holder {
            display: block;
            background-color: white;
            padding: 20px;
            min-height: 110px;
        }
    }
    .box:last-child {
        margin: 0px;
    }
    .app {
        position: relative;
        display: inline-block;
        text-align: center;
        border-radius: 3px;
        p {
            margin: 0px;
            color: #555869;
            font-size: 16px;
        }
        i.icon {
            display: inline-block;
            background: #66a2c5;
        }
    }
}