#networks {
    margin: 50px 0 0 50px; /* TODO: Remove this line */

    .network {
        display: inline-block;
        width: 50px;
        height: 500px;
        background-color: #3a87ad;
        border-radius: 5px;
    }

}