<div id="networks">
    <div bp:networks class="relations"></div>

    <div class="network">
        <div class="devices">
            <div class="device" bp:network:coordinate="4" type="subnet" color="#149bdf">
                <i class="topology-glyph app-server"></i>
            </div>
        </div>
    </div>

    <div class="network">
        <div class="line">
            <div class="name">Network Name</div>
            <div class="subnet" bp:network:coordinate="1" type="subnet" color="#149bdf">
                <p>Subnet Name</p>
                <p class="cidr">10.0.0.0/24</p>
            </div>
            <div class="subnet red" bp:network:coordinate="3" type="subnet" color="#d54931">
                <p>Subnet Name</p>
                <p class="cidr">168.192.0.55/24</p>
            </div>
        </div>
        <div class="devices">
            <div class="device" bp:network:coordinate="2" type="device">
                <i class="topology-glyph app-server"></i>
            </div>
            <div class="device" bp:network:coordinate="5" type="device">
                <i class="topology-glyph app-server"></i>
            </div>
        </div>
    </div>

    <div class="network">
        <div class="line">
            <div class="name">Private Network</div>
            <div class="subnet orange" bp:network:coordinate="6" type="subnet" color="#f89406">
                <p>Subnet Name</p>
                <p class="cidr">192.0.0.1/24</p>
            </div>
        </div>
        <div class="devices">
            <div class="device" bp:network:coordinate="7" type="device">
                <i class="topology-glyph app-server"></i>
            </div>
            <div class="device" bp:network:coordinate="8" type="device">
                <i class="topology-glyph app-server"></i>
            </div>
        </div>
    </div>

</div>